<!doctype html>
<html>
<head>
  <title>A Game</title>
</head>
<body>
    <h1> Welcome to our Game! </h1>

    <form action="/madlib">
        Answer our questions!
        <p>
        <label>First Name</label>
        <input type="text" name="first">
        <p>
        <label>Favorite Color:</label>
        <input type="text" name="color">
        <p>
        <label>Noun:</label>
        <input type="text" name="noun">
        <p>
        Adjective:
        <select name="adjective">
            <label><option value="smart">Smart</option></label>
            <label><option value="hungry">Hungry</option></label>
            <label><option value="bored">Bored</option></label>
            <label><option value="stealthy">Stealthy</option></label>
        </select>
    </form>
</body>
</html>