
{% extends 'base.html' %}

{% block title %} Our Game {% endblock %}

{% block content %}

<h1> Welcome to our Game! </h1>

<img src="/static/img/kanye2.png">

    <form action="/madlib" method="POST">
        Answer our questions!
        <p>
        <label>First Name</label>
        <input type="text" name="first">
        <p>
        <label>Favorite Color:</label>
        <input type="text" name="color">
        <p>
        <label>Noun:</label>
        <input type="text" name="noun">
        <p>
        Adjective:
        <select name="theadjective">
            <label><option value="punk">Punk</option></label>
            <label><option value="junk">Junk</option></label>
            <label><option value="scrub">Scrub</option></label>
            <label><option value="hunk">Hunk</option></label>
        </select>

        <input type="submit">
    </form>


{% endblock %}


