<!doctype html>
<html>
<head>
  <title>Hi There!</title>
</head>
<body>

<h1>Hi There!</h1>

 <p>Cutie the bomb {{ name }}. Met her at a {{ color }} beauty salon. With a baby Louis Vuitton. Under her underarm. She said I can tell you rock. I can tell by your charm. Far as girls you got a {{ noun }}. But I'm looking for the one. Have you seen her sitting in the Hackbright Lab? My psychic told me she have an ass like {{ name }}. Now I ain't saying you're a gold digger you got needs. If you ain't no {{ adjective }} holla we want prenup. WE WANT PRENUP! Yeah. Get down girl go head get down. Get down girl go head get down. </p>






</body>
</html>

